html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.app-component {
	display: flex;
	> * {
		flex: 0 0 auto;
	}
  flex-direction: column;
  height:100%;
  width:100%;

}

.footer {
	height: 5%;
  background-color: grey;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
