html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}


/* Pattern styles */
.app-container {
  height:100%;
  width:100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.map-half {
  flex: 1;
  border-right: 2px solid grey;
}

.data-half {
  flex: 1;
}

.map-view {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
