.detailedinfo {
  display: flex;
}

.facility-name-header {
  background-color:	lightgray;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid grey;
}
