.map-area {
  height: 100%;
  width: 100%;
  position: relative;
}


.legend-container {
  float: right;
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  background-color: white;
  opacity: .8;
}
