.map-component {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 95%;
  max-height: 95%;
  margin: 0 auto;
}

.legend-container {
  float: right;
  top: 5%;
  background-color: white;
  opacity: .8;
}
